@keyframes fall {
  0% {
    opacity: 0;
    top: -10%;
    transform: translateX(0) rotate(0);
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 100%;
    transform: translateX(var(--end-x)) rotate(var(--end-rotation));
  }
}

.snowflake {
  position: absolute;
  top: -10%;
  z-index: 9999;
  width: var(--size);
  height: var(--size);
  background: white;
  border-radius: 50%;
  opacity: 0;
  animation: fall linear infinite;
  animation-duration: var(--duration);
  animation-delay: var(--delay);
  pointer-events: none;
}
